# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual environments
venv/
env/
.venv

# Environment variables & secrets
.env
.env.local
secrets.json

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Project-specific
*.jpg
*.jpeg
*.png
*.bmp
temp_*
